.main-form-wrapper {
  width: 30%;
  margin-inline: auto;
  height: 200px;
  margin-bottom: 60px;
}

.main-form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-form-inputs {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-form-file-upload {
  margin-top: 27px;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.required-star {
  color: red;
}